/* font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    /*Толщина текста 400=нормал */
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --bg-color: #E5E5E5;
}

.text_h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text_h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text_h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
}

.text_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.text_p_reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-color);
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.header__burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

.header__burger_line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 17px;
    max-width: 734px;
    color: var(--white-color)
}

.h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 734px;
    color: var(--white-color)
}

.about {
    padding-top: 250px;
    /* max-width: 1080px; */
    position: relative;
    margin-bottom: 123px;
    /* margin: 0 auto; */
    /* чтобы вывести на передний фон */
}

.info {
    position: absolute;
    /* чтобы вывести на передний фон */
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    padding: 57px 130px;

}

.about_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about_grid_item {
    text-align: center;
    width: 190px;
}

.about_h4 {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about_h5 {
    font-weight: 500;
    font-size: 36px;   
    text-transform: uppercase;
    color: black;
}

.about_p {
    font-weight: 500;
    font-size: 18px;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px){
    .about_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }  
}

@media screen and (max-width: 768px){
    .info{
        position: relative;
        padding: 0;
    }
    .about_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }  
    
}

.project_h2 {
text-align: center;
margin-bottom: 50px;
}

.about_flex {
    display: flex;
}
.about_flex_item {
    max-width: 350px;
    margin-right: 30px;
}
.about_flex_item:last-child{
    margin-right: 0;
}
.project_img{
    margin-bottom: 45px;
}
.rectangle {
    width: 56px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project_h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project_p {
    color:var(--gray-color)
}

@media screen and (max-width: 1280px){
    .about{
        padding: 450px 15px 110px 15px;
    }
}

@media screen and (max-width: 768px){
    .about{
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .about_flex{
        flex-direction: column;
        align-items: center;
    }
    .about_flex_item{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .about_flex_item:last-child{
        margin-bottom: 0;
    }
}
.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 40px;
}
.request_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request_flex_left {
    color:var(--white-color)
}
.request_h4 {
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.request_h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color:var(--white-color);
    
}
.request_flex_btn{
    display: flex;
    border: none;
    background-color: #fff;
    align-items: center;
    padding: 15px 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
}
.request_flex_icon{
    margin-right: 15px;
}

@media screen and (max-width: 1280px){
    .request{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px){
    .request_flex{
        flex-direction: column;
    }
}
.services {
    padding: 150px 0;
}

.section_h2, .section_h4 {
    color:black;
    text-align: center;
}

.section_h2{
    margin-bottom: 55px;
}
.services_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    /* justify-items: center; */
}
.services_grid_item {
    background-color: #f7f7f7;
    padding: 59px 0;

}
.services_icon {
    margin: 0 auto 23px;
}

.section_h4 {
    max-width: 172px;
    text-transform: uppercase;
    margin: 0 auto;
}
@media screen and (max-width: 1280px){
    .services{
        padding-left: 15px;
        padding-right: 15px;
    }
    .services_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .services_grid_item{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .services_grid{
        grid-template-columns: repeat(1, 1fr);
}
}

.portfolio {
}
.portfolio_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    justify-content: center;
}
.portfolio_grid_item {
}
.portfolio_img {
}

@media screen and (max-width: 1280px){
    .portfolio_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .portfolio_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.question {
    padding-top: 148px;
    padding-bottom: 110px;
}
.question .section_h2 {
    margin-bottom: 50px;    
}
.question_items {
}
.question_item {
}

.section_h3 {
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 21px;
}
.section_h3.close{
    margin-bottom: 33px;
}
.question_p {
    color: var(--gray-color);
    max-width: 730px;
    margin-bottom: 37px;
}
.section_h3.close::before,
.section_h3.open::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-image: url(../img/question_icon.svg);
    background-repeat: no-repeat;
    /* background-position: center; */
    }

.section_h3.close::before {
    transform: rotate(90deg);
} 

.section_h3.close + .question_p{
    display: none;
}

@media screen and (max-width: 1280px){
    .question{
        padding: 150px 15px 110px;
    }
}

@media screen and (max-width: 768px){
    .portfolio_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.partners {
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 80px;
}
.partners_h2 {
    color: var(--white-color);
    margin-bottom: 50px;
    text-align: center;
}
.partners_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners_flex_item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 170px;
}
.partners_flex_item:nth-child(5n){
    margin-right: 0;
}
@media screen and (max-width: 1280px){
    .partners{
        justify-content: center;
    }
    .partners_flex_item,
    .partners_flex_item:nth-child(5n){
        margin-right: 10px;
        margin-left: 10px;
    }
}

.reviews {
    padding-top: 150px;
    padding-bottom: 144px;
}
.reviews_h2 {
    text-align: center;
    margin-bottom: 60px;
}
.reviews_grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
}
.reviews_card_item {
}
.reviews_card {
    background-color: #f7f7f7;
    padding: 28px 30px;
    margin-bottom: 35px;
}
.reviews_quotes {
    font-size: 96px;
    color: var(--accent-color);
    margin-bottom: -40px;
    line-height: 1;
}
.reviews_author_accent{
    color: var(--accent-color);
}
@media screen and (max-width: 1280px){
    .reviews{
        padding: 100px 15px;
    }
    .reviews_grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px){
    .reviews_grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.contacts {
    padding-top: 100px;
    padding-bottom: 132px;
}
.contacts_h2 {
    margin-bottom: 60px;
    text-align: center;
}
.contacts_grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.contacts_item {
    max-width: 255px;
    justify-items: center;
}
.contacts_icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 13px;
    
}
.contacts_h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
}
.contacts_h3_grey {
    color:var(--gray-color);
}
.contacts_h3_accent {
    color: var(--accent-color);
}
@media screen and (max-width: 1280px){
    .contacts_grid{
        grid-template-columns: repeat(2,1fr);
    }
    .contacts_item{
        max-width: 100%; /*По центру*/
    }
}

@media screen and (max-width: 768px){
    .contacts_grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.footer {
    background-color: var(--dark-color);
    padding: 30px 0;
}
.foter_flex {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
}
.footer_left {
}
.footer_right {
}
@media screen and (max-width: 1280px){
    .footer{
        padding: 30px 15px;
    }
}

@media screen and (max-width: 768px){
    .foter_flex{
        flex-direction: column;
    }